.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

.btn-group-vertical>.btn:not(:first-child),
.btn-group-vertical>.btn-group:not(:first-child) {
  margin-top: 0;
}