<app-admin-manage-navbar></app-admin-manage-navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="drop-zone" 
               (dragover)="onDragOver($event)" 
               (dragleave)="onDragLeave($event)" 
               (drop)="onDrop($event)">
            <div class="text-center">
              <i class="fas fa-cloud-upload-alt fa-3x mb-3"></i>
              <h4>Drag & Drop files here</h4>
              <p>or</p>
              <label for="fileInput" class="btn btn-primary">Choose Files</label>
              <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple style="display: none;">
            </div>
          </div>
          <div *ngIf="files.length > 0" class="mt-3">
            <h5>Selected Files:</h5>
            <ul class="list-group">
              <li *ngFor="let file of files" class="list-group-item">{{ file.name }}</li>
            </ul>
          </div>
          <button (click)="uploadCSVFiles()">Submit file</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>